
@{
    ViewBag.Title = "Index";
}

<br />
<h2>@ViewBag.Title</h2>
@foreach (var shelter in ViewBag.Shelters)
{
    <div class="panel panel-default">
        <div class="panel-body">
            @Html.Label("Name", "Name:")
            <br />
            <p>@shelter.ShelterName</p>
            @using (Html.BeginForm(actionName: "Details", controllerName: "Shelter",
            method: FormMethod.Get, routeValues: new { id = shelter.ShelterId }))
            {
                <button class=" btn btn-primary">Details</button>
            }
        </div>
    </div>
}
<div style="margin-top: 20px;">
    @using (Html.BeginForm(actionName: "Index", controllerName: "ShelterContactInfo", method: FormMethod.Get))
    {
        <button class="btn btn-primary">See contact info for shelters</button>
    }
</div>
<br />
@if (User.IsInRole("Admin"))
{
    using (Html.BeginForm(actionName: "New", controllerName: "Shelter", method: FormMethod.Get))
    {
        <button class="btn btn-primary">Add new shelter</button>
    }
}
