@{
    ViewBag.Title = "Home Page";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Animal Adoption</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<div class="banner">
    <img src="~/Images/cropped-dogs-cats-banner-large.jpg" />
</div>
<div class="jumbotron">
    <h1 class="display-1">Welcome to Happy Tails!</h1>
    <p class="lead">Happy Tails is an animal adoption website, where you can find your next furry friend.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            In order to adopt an animal, you need an account. If you are new here, click on Register and create an account by filling in the form. In case you already have an account, just press Log In and add your email  and password.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Looking for a friend</h2>
        <p>See? That was easy. Now, just start looking for a pet. Click on Shelters to find your nearby shelter or click on Pets to see which little fellas are in need of a loving home. You can find every details about them: gender, color, breed, medical issues, behaviour.</p>
    </div>
    <div class="col-md-4">
        <h2>Bring your new friend home</h2>
        <p>Once you have decided, just click Adopt Now and we will contact you to set the pick up day. And that's all!</p>
    </div>
</div>